@import '../../SASS_config';

.landing-page {
	@include flex;
	align-items: center;

	.typing {
		font-size: 35px;
		font-family: $head-font;
		border-right: 4px solid $color-1;
		border-right-style: ridge;
		color: $color-1;
		letter-spacing: 2px;
		text-align: center;
		text-shadow: 3px 2px black;
		text-decoration: underline;
		white-space: nowrap;
		overflow: hidden;
	}

	.typing {
		animation: typing 3s steps(44, end) 1s 1 normal both, cursor 400ms steps(44, end) infinite;
	}

	#bleek {
		padding-bottom: 30px;
		display: block;
		height: 600px;
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 525px;
	}
}

@keyframes cursor {
	from {
		border-right-color: $color-1;
	}

	to {
		border-right-color: transparent;
	}
}
