@import '../../SASS_config';

.landing-page {
	@include flex;

	.header {
		font-size: 25px;
		font-family: $head-font;
		color: $color-1;
		letter-spacing: 2px;
		text-align: center;
		text-shadow: 3px 2px black;
	}

	.desc {
		font-family: $body-font;
	}

	#bleek {
		height: 500px;
	}
}
