@import '../../SASS_config';

.projects {
	@include flex;

	.project {
		@include marg(5px, 2px, 2px, 5px);
		@include pad(5px, 2px, 2px, 5px);
		border: $def-bord;

		.title {
			color: $color-1;
			font-family: $head-font;
			letter-spacing: 2px;
		}

		p {
			@include flex;
			font-family: $body-font;
		}

		a {
			@include marg(4px, 2px, 2px, 4px);
		}

		#screenshot-1 {
			border: 2px solid black;
		}

		#screenshot-2 {
			border: 2px solid black;
		}

		#screenshot-3 {
			width: 50%;
			border: 2px solid black;
		}

		#screenshot-4 {
			width: 50%;
			border: 2px solid black;
		}

		#screenshot-5 {
			width: 50%;
			border: 2px solid black;
		}

		#screenshot-6 {
			width: 50%;
			border: 2px solid black;
		}
	}
}
