@import '../../SASS_config';

.projects {
	@include flex;

	.project {
		@include marg(5px, 2px, 2px, 5px);
		@include pad(5px, 2px, 2px, 5px);
		border: $def-bord;
		background-color: #159b9bb0;

		.title {
			color: $color-1;
			font-family: $head-font;
			letter-spacing: 2px;
		}

		p {
			font-family: $body-font;
		}

		a {
			@include marg(4px, 2px, 2px, 4px);
			@include pad(5px, 2px, 2px, 5px);
			font-family: $body-font;
			font-size: 14px;
		}

		#screenshot-1 {
			display: block;
			width: 40%;
			float: left;
			border: 2px solid black;
		}

		#screenshot-2 {
			display: block;
			width: 40%;
			float: left;
			border: 2px solid black;
		}

		#screenshot-3 {
			display: block;
			width: 45%;
			float: left;
			border: 2px solid black;
		}

		#screenshot-4 {
			display: block;
			width: 27%;
			float: left;
			border: 2px solid black;
		}

		#screenshot-5 {
			display: block;
			width: 27%;
			float: left;
			border: 2px solid black;
		}

		#screenshot-6 {
			display: block;
			width: 50%;
			float: left;
			border: 2px solid black;
		}

		#screenshot-7 {
			display: block;
			width: 45%;
			float: left;
			border: 2px solid black;
		}
	}
}
