@import './vars/index.scss';
@import './mixins/index.scss';

header {
  @include flex-cont-inline;
  background-color: $rgb-bgteal;
  text-align: left;
  border: $dense;
  border-radius: $radi-1;
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;

  i {
    font-family: $MonocraftNF;
    font-weight: 700;
    color: $rgb-bgdteal;
    flex: 1 0 auto;
  }

  h1 {
    @include txt-header;
    flex: 1 0 auto;
  }

  h2 {
    @include txt-bleek;
    flex: 1 0 auto;
  }

  span.page-header {
    flex: 0 1 auto;
    text-align: right;

    h6 {
      @include txt-header;
      color: $rgb-teal;
      font-weight: 500;
      text-shadow: $txt-shade-2;
    }

    p {
      color: $rgb-steel;
      font-family: $MonocraftNF;
      font-weight: 300;
    }
  }


}
