@import './vars/index.scss';
@import './mixins/index.scss';

div {
	@include flex-cont-row;
	font-family: $head-font;
	font-size: 20px;

	.toggle-form {
		margin: 0;

		label {
			text-shadow: $txt-shadow-2;
			display: block;
			color: $color-1;
			font-size: 30px;
			font-weight: 450;
			letter-spacing: 2px;
		}

		.toggle-btn {
			border: $def-bord;
			width: 273px;
			height: 30px;
			background: $bg-2;
			transition: filter 500ms;

			&:hover {
				filter: brightness(3);
				color: #440744;
			}
		}
	}

	.nav-close {
		@include nav-bar;
		font-family: $head-font;
		bottom: -100%;
	}

	.nav-open {
		@include nav-flex;
		background: $bg-1;
		position: absolute;
		top: 65px;
		letter-spacing: 3px;
		text-shadow: $txt-shadow-2;

		ul {
			border: $def-bord;
			list-style: none;

			li {
				margin: 10px, 3px, 3px, 10px;
				padding: 6px, 5px, 5px, 6px;
				transition: filter 400ms;
				border-top: 1px solid black;

				&:hover {
					filter: brightness(2.6);
					color: $txt-color-1;
				}

				.icon {
					font-size: 3rem;
				}

				.title {
					color: $txt-color-1;
					font-size: 2rem;
					padding-left: 20px;
				}
			}
		}
	}
}
