@import './vars/index.scss';
@import './mixins/index.scss';

section {
  @include flex-cont;
  background-color: #159b9bb0;
  border: $dense;
  border-radius: $sec-radi;

  span {
    @include inline-flex-item;
    text-align: center;
    border: 2px solid #14ebce;
    margin: 2px auto;
    padding: 4px 2px 2px 4px;
    background-color: $rgb-bgblu;

    h3 {
      font-family: $MonocraftNF;
      color: $rgb-purp;
      text-shadow: $shade-1;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-color: $rgb-cy;
    }

    p {
      font-weight: 250;
      color: $rgb-drab;
      text-shadow: $rgb-neon 1px 0 10px;
    }

    i {
      font-family: $MonocraftNF;
      font-weight: 700;
      color: $rgb-cy;
      flex: 1 0 auto;
    }
  }

  article {
    // display: flex;
    // justify-content: flex-start;
    // flex-flow: row wrap;
    // align-items: center;
    @include flex-cont-inl;
    border: $thin;
    border-radius: $radi-2;
    margin: 4px 4px auto;
    padding: 4px 2px 2px 4px;
    text-align: center;
    font-family: $Oxanium;
    background-color: $rgb-bggradi;

    // h3 {
    //   font-family: $MonocraftNF;
    //   color: $rgb-purp;
    //   text-shadow: $txt-shade-1;
    //   font-weight: 700;
    //   text-decoration: underline;
    //   text-decoration-color: $rgb-teal;
    // }

    pre {
      font-weight: 275;
      text-shadow: $txt-shade-3;
      color: $rgb-drab;
    }

    p {
      font-weight: 250;
      color: $rgb-blak;
      text-shadow: $txt-shade-3;
    }

    code {
      font-family: $MonocraftNF;
      color: $rgb-neon;
      font-weight: 300;
      text-shadow: $txt-shade-2;
      // flex: auto;
    }
  }
}
