@import '../../SASS_config';

.about {
  @include flex;

  h3 {
    @include marg(4px, 2px, 2px, 4px);
    @include pad(5px, 4px, 4px, 5px);
    color: $color-1;
    font-size: 36px;
    letter-spacing: 2px;
  }

  section {
    background-color: #159b9bb0;
    border: $def-bord;
    border-radius: $sec-radi;

    p {
      font-family: $body-font;
      text-align: center;
      font-size: 20px;
    }
  }
}
