@import '../../SASS_config';

.about {
	@include flex;
	@include marg(4px, 2px, 2px, 4px);
	@include pad(5px, 4px, 4px, 5px);

	h3 {
		color: $color-1;
		font-size: 36px;
		letter-spacing: 2px;
		text-align: center;
		text-shadow: 3px 2px black;
	}

	section {
		background-color: #159b9bb0;
		border: $def-bord;
		border-radius: $sec-radi;

		p {
			font-family: $body-font;
			text-align: center;
			font-size: 20px;
		}
	}
}
