@import '../../SASS_config';

.contact {
	@include flex;

	header {
		background-color: #159b9bb0;
		border: $def-bord;
		border-radius: $def-radi;
		text-align: center;

		h4 {
			letter-spacing: 2px;
			font-family: $head-font;
			color: $color-1;
			font-size: 30px;
		}

		p {
			font-family: $body-font;
			font-size: 14px;
		}
	}

	.email {
		@include marg(10px, 4px, 4px, 10px);
		@include pad(10px, 3px, 3x, 10x);
		background-color: #159b9bb0;
		text-align: center;
		border: $def-bord;
		border-radius: $def-radi;

		h4 {
			letter-spacing: 2px;
			font-family: $head-font;
			font-size: 30px;
			color: $color-1;
		}

		#my-email {
			font-family: $body-font;
			transition: filter 500ms;

			&:hover {
				filter: brightness(3);
				color: #ac31ac;
			}
		}
	}

	.linkedin {
		@include marg(10px, 4px, 4px, 10px);
		@include pad(10px, 3px, 3x, 10x);
		background-color: #159b9bb0;
		text-align: center;
		border: $def-bord;
		border-radius: $def-radi;

		h4 {
			letter-spacing: 2px;
			font-family: $head-font;
			font-size: 30px;
			color: $color-1;
		}

		#my-linkedin {
			font-family: $body-font;
			transition: filter 500ms;

			&:hover {
				filter: brightness(3);
				color: #ac31ac;
			}
		}
	}

	.github {
		@include marg(10px, 4px, 4px, 10px);
		@include pad(10px, 3px, 3x, 10x);
		background-color: #159b9bb0;
		text-align: center;
		border: $def-bord;
		border-radius: $def-radi;

		h4 {
			letter-spacing: 2px;
			font-family: $head-font;
			font-size: 30px;
			letter-spacing: 2px;
			color: $color-1;
		}

		#my-github {
			font-family: $body-font;
			transition: filter 500ms;

			&:hover {
				filter: brightness(3);
				color: #ac31ac;
			}
		}
	}
}
