@import '../../SASS_config';

.contact {
  @include flex;

  header {
    color: $color-1;

    .title {
      letter-spacing: 2px;
      font-family: $head-font;
      color: $color-1;
    }

    p {
      font-family: $body-font;
      font-size: 14px;
    }
  }

  .email {
    @include marg(10px, 4px, 4px, 10px);
    @include pad(10px, 3px, 3x, 10x);
    text-align: center;

    h4 {
      letter-spacing: 2px;
      font-family: $head-font;
      font-size: 30px;
    }

    #my-email {
      font-family: $body-font;
      transition: filter 500ms;

      &:hover {
        filter: brightness(3);
        color: #440744;
      }
    }
  }

  .linkedin {
    @include marg(10px, 4px, 4px, 10px);
    @include pad(10px, 3px, 3x, 10x);
    text-align: center;

    h4 {
      letter-spacing: 2px;
      font-family: $head-font;
      font-size: 30px;
    }

    #my-linkedin {
      font-family: $body-font;
      transition: filter 500ms;

      &:hover {
        filter: brightness(3);
        color: #440744;
      }
    }
  }

  .github {
    @include marg(10px, 4px, 4px, 10px);
    @include pad(10px, 3px, 3x, 10x);
    text-align: center;

    h4 {
      letter-spacing: 2px;
      font-family: $head-font;
      font-size: 30px;
    }

    #my-github {
      transition: filter 500ms;

      &:hover {
        filter: brightness(3);
        color: #440744;
      }
    }
  }
}
