@import '../../SASS_config';

.Contact {
  @include flex;

  header {
    color: $color-1;

    .title {
      font-family: $head-font;
      color: $color-1;
    }

    p {
      font-family: $body-font;
      font-size: 14px;
    }
  }

  .email {
    @include marg(3px, 2px, 2px, 3px);
    @include pad(2px, 1px, 1px, 2px);

    h4 {
      font-family: $head-font;
    }

    #my-email {
      font-family: $body-font;
    }
  }

  .linkedin {
    @include flex;
  }
}
